In [47]:
from datetime import datetime
import time
import responses
import googlemaps
import pandas as pd
import numpy as np
from googlemaps import *

In [76]:
 df = pd.DataFrame({'age': [5, 6, np.NaN],
                    'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                             pd.Timestamp('1940-04-25')],
                    'name': ['Alfred', 'Batman', ''],
                    'toy': [None, 'Batmobile', 'Joker']})
df.isna()

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [26]:
df.dropna()

   age       born    name        toy
1  6.0 1939-05-27  Batman  Batmobile

In [29]:
df.drop_duplicates()

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [37]:
df.born.astype(str)

0           NaT
1    1939-05-27
2    1940-04-25
Name: born, dtype: object

In [71]:
df.name.str.split(', ').str[0:]

0    [Alfred]
1    [Batman]
2          []
Name: name, dtype: object

In [72]:
df.name.str.split(', ')[1]

1    [Batman]
2          []
Name: name, dtype: object

In [38]:
date_col=pd.to_datetime(df.born, format='%y',)

In [51]:
date_col

0          NaT
1   1939-05-27
2   1940-04-25
Name: born, dtype: datetime64[ns]

In [39]:
date_col.dt.day_name()

0         NaN
1    Saturday
2    Thursday
Name: born, dtype: object

AttributeError: module 'googlemaps' has no attribute 'TestCase'