In [20]:
from datetime import datetime
import time
import responses
import googlemaps
import pandas as pd
import numpy as np

In [22]:
 df = pd.DataFrame({'age': [5, 6, np.NaN],
                    'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                             pd.Timestamp('1940-04-25')],
                    'name': ['Alfred', 'Batman', ''],
                    'toy': [None, 'Batmobile', 'Joker']})
df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [26]:
df.dropna()

   age       born    name        toy
1  6.0 1939-05-27  Batman  Batmobile

In [29]:
df.drop_duplicates()

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [37]:
df.born.astype(str)

0           NaT
1    1939-05-27
2    1940-04-25
Name: born, dtype: object

In [ ]:
res = requests.get('https://kim.fspot.org/private', auth=('admin', 'secret'))
res
getgetDistanceMatrix(request, callback)

In [38]:
date_col=pd.to_datetime(df.born)

In [39]:
date_col.dt.day_name()

0         NaN
1    Saturday
2    Thursday
Name: born, dtype: object

In [7]:
from datetime import datetime
import time

import responses

import googlemaps
import googlemaps.test as _test


class DistanceMatrixTest(_test.TestCase):

    def setUp(self):
        self.key = 'AIzaasdf'
        self.client = googlemaps.Client(self.key)

ValueError: Invalid API key provided.